.contact {
    padding: 1rem var(--padding) 2rem;
}

.image span {
    display: none !important;
}

.overlay {
    display: none;
}

.title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: var(--h2);
}

.title svg {
    width: 100px;
    display: none;
}

.control {
    position: relative;
}

.control label {
    position: absolute;
    left: 10px;
    bottom: 5px;
    transition-property: left top bottom font-size;
    transition: 200ms ease;
}

.control:last-of-type label {
    bottom: 10px;
}

.control input,
.control textarea {
    width: 100%;
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid var(--clr-dark-70);
    margin-top: 2rem;
    padding: 5px;
}

.control input:focus,
.control textarea:focus {
    outline: 0;
}

.button {
    font-weight: 500;
    color: white;
    background-color: var(--clr-dark);
    padding: 3px 1rem;
    text-transform: uppercase;
    border-radius: 15px;
    margin-top: 1rem;
    transition: letter-spacing 150ms ease;
}

.button:hover,
.button:focus {
    letter-spacing: 2px;
}

.control label.focus {
    font-size: .8rem;
    left: .3rem;
    bottom: calc(100% - 2rem)
}

@media (min-width: 680px) {
    .contact {
        padding: 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        margin-top: 5rem;
    }

    .image {
        position: relative;
    }

    .image span {
        display: block !important;
        width: 100% !important;
        height: 500px !important;
    }

    .image img {
        object-fit: cover !important;
        filter: saturate(0%);
    }

    .title {
        position: absolute;
        color: white;
        width: 80%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        font-weight: 900;
        font-size: min(var(--h2), 6rem);
    }

    .overlay {
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: var(--clr-dark-50);
    }

    .form {
        width: 90%;
        margin: auto;
        max-width: 400px;
    }

    .title svg {
        display: unset;
    }
}

@media (min-width: 1100px) {
    .image span {
        height: 100vh !important;
    }

    .button {
        font-size: 1.2rem;
        border-radius: 20px;
    }

    .title svg {
        width: 150px;
    }
}

@media (min-width: 1600px) {
    .title {
        font-size: min(var(--h2), 7rem);
    }

    .form {
        max-width: 600px;
    }

    .control {
        margin: 1rem 0;
    }

    .control label {
        font-size: 1.2rem;
    }
}

@media (min-width: 2100px) {
    .title {
        font-size: min(var(--h2), 9rem);
    }

    .form {
        min-width: 750px;
    }

    .control {
        margin: 2rem 0 1rem;
    }

    .control label {
        font-size: 1.5rem;
    }

    .control label.focus {
        font-size: 1.2rem;
    }

    .button {
        font-size: 2rem;
        border-radius: 30px;
        padding: 10px 1.5rem;
    }

    .button:hover,
    .button:focus {
        letter-spacing: 4px;
    }
}