.comments {
    padding: 1rem var(--padding);
}

.title {
    text-transform: uppercase;
    text-align: center;
}

.form {
    max-width: 500px;
    margin: auto;
}

.form input,
.form textarea {
    width: 100%;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid var(--clr-dark-50);
    padding: .5rem .25rem;
}

.form input:focus,
.form textarea:focus {
    border-bottom: 3px solid var(--clr-dark);
    outline: 0;
}

.form label {
    display: inline-block;
    margin: 1rem 0 .25rem;
    font-weight: 600;
}

.button {
    background-color: var(--clr-dark);
    color: white;
    font-weight: 600;
    padding: 3px 1rem;
    border-radius: 20px;
    text-transform: uppercase;
    margin-top: 1rem;
}

.message {
    position: relative;
    overflow: hidden;
    height: 0px;
    transition: height 200ms ease;
}

.wrapper {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
}

.success {
    text-align: center;
    background-color: rgb(212, 212, 212);
    padding: 1rem;
    max-width: max-content;
    margin: 1rem auto;
    border-radius: 10px;
}

.success h3 {
    text-transform: uppercase;
    margin-bottom: .5rem;
}

.error {
    font-size: .9rem;
    color: rgb(202, 0, 0);
}