.featured {
    height: 150px;
    position: relative;
    display: block;
    margin-bottom: .5rem;
    background-color: var(--clr-dark);
    color: var(--clr-light);
}

.image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    object-fit: cover;
    opacity: .5;
}

.text {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
}

.time {
    font-size: .9rem;
    margin-left: .5rem;
}