.wrapper {
    background-color: var(--clr-dark);
}

.featured {
    height: 150px;
    position: relative;
    display: block;
    margin-bottom: .5rem;
    color: var(--clr-light);
    transition: opacity 100ms ease;
}

.featured:hover {
    opacity: .5;
}

.image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    object-fit: cover;
    opacity: .8;
}

.text {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
}

.time {
    font-size: .9rem;
    margin-left: .5rem;
}

@media (min-width: 780px) {
    .featured {
        height: 300px;
    }

    .text {
        height: 50px;
        top: unset;
        bottom: 0;
        background-color: var(--clr-dark);
    }

    .title {
        font-size: .9rem;
    }

    .time {
        font-size: .8rem;
        font-family: 'Space Grotesk', sans-serif;
    }
}

@media (min-width: 1200px) {
    .featured {
        height: 400px
    }
}