.achievements {
    margin-top: 3rem;
}

.title {
    text-transform: uppercase;
    font-size: 1.5rem;
}

.text {
    padding-left: .7125rem;
    border-left: 1px solid var(--clr-dark-30);
    margin: 1rem 0;
}

.strong {
    font-weight: 600;
}