.portfolio {
    padding: 3rem var(--padding);
    overflow: hidden;
}

.title {
    text-transform: uppercase;
    font-size: var(--h2);
    font-weight: 700;
}

@media (min-width: 980px) {
    .title {
        font-weight: 900;
    }
}

@media (min-width: 1100px) {
    .title {
        position: relative;
        left: 80vw;
    }
}