.projects {
    margin-top: 1rem;
}

.title {
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: .5rem;
}

.wrapper {
    border-top: 1px solid var(--clr-dark);
}

@media (min-width: 700px) {
    .wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}