.cursor {
    position: absolute;
    pointer-events: none;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: white;
    mix-blend-mode: difference;
    border-radius: 50%;
    transform-origin: center;
    transition: transform 100ms ease;
}

.cursor.hidden {
    transform: translate(-50%, -50%) scale(0);
}