@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700;900&family=Space+Grotesk:wght@400;700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

img {
  width: 100%;
}

a,
button {
  -webkit-tap-highlight-color: transparent;
}

:root {
  --clr-light: #ccc;
  --clr-dark: #1e1e1e;

  --padding: 1rem;
}